@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
  --font-inter: "Inter", "sans-serif";
  --font-logo: "Anton", "sans-serif";
}


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-neutral: #111212;
  --color-primary: #6796a8;
  --color-secondary: #9fc6d5;
  --color-accent: #71b7d1;
  --color-base-100: #EFF1F3;
  --color-base-300: #000000;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-neutral: #edeeee;
  --color-primary: #578598;
  --color-secondary: #2a5060;
  --color-accent: #2e758e;
  --color-base-100: #0b0d0f;
  --color-base-300: #16181A;
}