@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
  --font-inter: "Inter", "sans-serif";
  --font-logo: "Anton", "sans-serif";
  --color-first: #1B0F23;
  --color-second: #09030C;
  --color-third: #9A38C4;
}


@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-neutral: #111212;
  --color-primary: #6796a8;
  --color-secondary: #9fc6d5;
  --color-accent: #71b7d1;
  --color-base-100: #EFF1F3;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-neutral: #edeeee;
  --color-primary: #578598;
  --color-secondary: #2a5060;
  --color-accent: #2e758e;
  --color-base-100: #0b0d0f;
}



@layer components{
  .primary-btn{
    @apply flex items-center justify-center px-7 py-2 cursor-pointer rounded-2xl bg-linear-[45deg] from-second from-60% to-third font-normal w-full;
  }
  .warning-btn{
    @apply flex items-center justify-center px-7 py-2 cursor-pointer rounded-2xl bg-linear-[45deg] from-second from-60% to-yellow-500 font-normal w-full;
  }
  .warning-border{
    @apply p-[1px] bg-linear-[-50deg] from-yellow-500 to-second to-80% rounded-2xl cursor-pointer;
  }
  .error-btn{
    @apply flex items-center justify-center px-7 py-2 cursor-pointer rounded-2xl bg-linear-[45deg] from-second from-60% to-red-500 font-normal w-full;
  }
  .error-border{
    @apply p-[1px] bg-linear-[-45deg] from-red-500 to-second to-80% rounded-2xl cursor-pointer;
  }
  .secondary-btn{
    @apply px-7 py-2 cursor-pointer rounded-2xl bg-second border-[1px] border-third pb-3 hover:outline-2 outline-offset-2 hover:outline-third;
  }
  .btn-border{
    @apply p-[1px] bg-linear-[-45deg] from-third to-second to-90% rounded-2xl cursor-pointer;
  }
  .linear-border-r{
    @apply bg-linear-[-70deg] from-third to-second to-70% ;
  }
  .linear-border-l{
    @apply bg-linear-[70deg] from-third to-second to-70% ;
  }
}