@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme{
  --font-inter: "Inter", "sans-serif";
  --font-logo: "Anton", "sans-serif";
  --color-first: #1B0F23;
  --color-second: #09030C;
  --color-third: #9A38C4;
}

@layer components{
  .primary-btn{
    @apply flex items-center justify-center px-7 py-2 cursor-pointer rounded-2xl bg-linear-[45deg] from-second from-60% to-third font-normal w-full;
  }
  .secondary-btn{
    @apply px-7 py-2 cursor-pointer rounded-2xl bg-second border-[1px] border-third pb-3 hover:outline-2 outline-offset-2 hover:outline-third;
  }
  .btn-border{
    @apply p-[1px] bg-linear-[-45deg] from-third to-second to-95% rounded-2xl cursor-pointer;
  }
  .linear-border-r{
    @apply bg-linear-[-70deg] from-third to-second to-70% ;
  }
  .linear-border-l{
    @apply bg-linear-[70deg] from-third to-second to-70% ;
  }
}